body {
  margin: 0px auto;
  color: #313131;
  font-size: 16px;
  min-height: 400px;
  position: relative;
  padding-bottom: 30px;
  font-family: sans-serif;
  max-width: 510px;
}

a, .xlink {
  color: #0072bc;
}

form {
  font-size: 0;
  margin: 9px 0;
}
input {
  width: 164px;
  padding: 0 4px;
  vertical-align: top;
  height: 30px;
}
input, button {
  box-sizing: border-box;
}

.captcha {
  cursor: pointer;
}

.cpointer {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  vertical-align: top;
  width: 40px;
  text-align: center;
  -webkit-user-select: none;
}

input[name=captcha] {
  margin-right: 9px;
  width: 147px;
}

.mid {
  margin: 0 9px;
}

form div {
  margin: 9px 0;
}

.addbtn {
  width: 100%;
  height: 30px;
}

.xlink {
  cursor: pointer;
  border-bottom: 1px dashed;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #8a8a8a;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer a {
  color: #8a8a8a;
}

a:hover, .xlink:hover {
  color: #0032a7;
}

form .inline-msg {
  font-size: 13px;
}

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  background: #fff;
  transition: box-shadow 0.2s, border-color 0.2s;
}
input[type=text]:hover, input[type=password]:hover {
  border-color: #aaa;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border-color: #fc0;
  box-shadow: 0 0 0 1px #fc0;
}

input[type=submit], button {
  cursor: pointer;
  border: none;
  color: #333;
  font-size: 16px;
  outline: none;
  border-radius: 3px;
  background: #ffdb4d;
}
input[type=submit]:hover, button:hover {
  background: #ffd633;
}
input[type=submit]:focus, button:focus {
  box-shadow: 0 0 10px #fc0,  inset 0 0 0 1px rgba(178,142,0,.6);
  -webkit-animation-name: focus-ground;
  animation-name: focus-ground;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
input[type=submit]:active, button:active {
  box-shadow: inset 0 1px 4px #c69405;
  background: #fc0;
  padding-top: 2px;
  -webkit-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

input[readonly] {
  cursor: text;
}

h4 {
  font-size: 14px;
}
input[name=captcha]:before {
  content: '>';
  font-size: 20px;
}

#boxlist {
  display: inline-block;
  padding: 0 8px;
  list-style-type: none;
}

.mailbox {
  font-size: 18px;
  padding: 6px;
  text-align: right;

}

input.invalid, .mailbox.invalid {
  background: rgb(255, 240, 240)!important;
  border-color: rgb(255, 0, 0)!important;
  box-shadow: 0 0 0 1px rgb(255, 0, 0)!important;
}

form.invalid input[type=submit] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#emptymsg,
#addbox form,
#addbox.expanded button,
.no-boxes #addbox button,
.boxlimit #addbox,
#fullmsg,
.must-login #addbox  
{display: none;}

.no-boxes #emptymsg,
.no-boxes #addbox form,
#addbox.expanded form,
.boxlimit #fullmsg
{display: block;}

@-webkit-keyframes focus-ground {
  from,to {
    background: #fc0
  }

  40%,60% {
    background: #ffe066
  }
}

@keyframes focus-ground {
  from,to {
    background: #fc0
  }

  40%,60% {
    background: #ffe066
  }
}

.mailbox-name, .delete-mailbox {
  word-break: break-all;
  display: inline-block;
}
.mailbox:hover .delete-mailbox {
  color: red;
}
.delete-mailbox {
  padding: 0 5px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  position: relative;
}

#delbox-floater {
  margin:0;
  padding: 5px;
  white-space: nowrap;
  left: 26px;
  top: -6px;
  display: none;
  background:#e80000;
  cursor:default;
  position:absolute;
  z-index: 1;
}
#delbox-floater:before {
  content: '';
  position: absolute;
  left: -8px;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 6px 0;
  border-color: transparent #e80000 transparent transparent;
}
.delbox-unfit #delbox-floater {
  left: -188px;
  top: 27px;
}
.delbox-unfit #delbox-floater:before{
  left: 195px;
  top: -10px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#delbox-floater input {
  height: 22px;
}
#delbox-floater input[type=submit] {
  margin-left: 4px;
  width: 100px;
  font-size: 14px;
  padding: 0;
  background: #ff8671;
}
#delbox-floater input[type=submit]:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
#delbox-floater input[type=submit]:active {
  background: black;
  color: rgba(255, 255, 255, 0.82);
  padding-top: 2px;
}
#delbox-floater input[type=submit]:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.35);
  animation-name: none; 
  -webkit-animation-name: none; 
}
#delbox-floater input[type=password] {
  width: 100px;
  border-color: #ce0000;
}
#delbox-floater input[type=password]:hover {
  border-color: #900000;
}
#delbox-floater input[type=password]:focus {
  border-color: #fc0;
}
#popup-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.popup {
  display: none;
  margin: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.28);
}
.error-pup {
  background: #ea0000;
  color: white;
}
.warn-pup {
  background: #ffdb4d;
}
.p-msg {
  max-width: 800px;
  display: inline-block;
  padding: 10px;
}

@media only screen and (max-width: 510px) {
  body {
    margin: 0 10px;
  }
  input {
    width: 100%!important;
    margin: 2px 0!important;
  }
  .cpointer {
    transform: rotate(90deg);
  }
  .captchablock {
    text-align: center;
  }
  h1 {
    font-size: 24px;
  }
  #boxlist {
    display: block;
    width: 100%;
    padding: 0;
  }
  .mailbox {
    text-align: left;
    background: #f7f7f7;
    margin-bottom: 6px;
    font-size: 16px;
    position: relative;
  }

  .delete-mailbox {
    float: right;
    background: #ececec;
    width: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;;
  }
  .mailbox-name {
    margin-right: 36px;
  }
  .delbox-unfit #delbox-floater {
    top: 30px;
    left: -111px;
  }
  #delbox-floater input {
    display: block;
  }
  #delbox-floater:before {
    left: 122px!important;
  }
}

#xhr-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 10;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='135px' height='4px'><rect width='83px' height='4px' fill='%23FFDB4D'></rect></svg>");
  -webkit-animation: bgshift 0.3s linear infinite;
  -moz-animation: bgshift 0.3s linear infinite;
  -o-animation: bgshift 0.3s linear infinite;
  animation: bgshift 0.3s linear infinite;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.xhring #xhr-indicator {
  opacity: 1;
  transition-duration: 0;
  -webkit-transition-duration: 0;
}

@keyframes bgshift {
  0%   { background-position: 0px 0; }
  100% { background-position: 134px 0; }
}
@-webkit-keyframes bgshift {
  0%   { background-position: 0px 0; }
  100% { background-position: 134px 0; }
}
@-moz-keyframes bgshift {
  0%   { background-position: 0px 0; }
  100% { background-position: 134px 0; }
}
@-o-keyframes bgshift {
  0%   { background-position: 0px 0; }
  100% { background-position: 134px 0; }
}